{% extends "base.html" %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="col-12 col-lg-8">
        {% for users_device in users_devices %}
            <div class="row">
                <div class="col-12 col-sm-6 mb-4">
                    <div class="card border-gray-300">
                        <div class="card-body d-block d-md-flex align-items-center">
                            <div class="icon icon-shape icon-md icon-shape-primary rounded-circle me-3 mb-4 mb-md-0">
                                {% if users_device.device.device_type == 'Photon' %}
                                    <span class="fas fa-wallet"></span></div>
                                {% elif  users_device.device.device_type == 'Argon' %}
                                    <span class="fas fa-vihara"></span></div>
                                {% elif users_device.device.device_type == 'Electron' %}
                                    <span class="fas fa-vial"></span></div>
                                {% else %}
                                    <span class="fas fa-wallet"></span></div>
                                {% endif %}
                <div>
                                        <span class="d-block h6 fw-normal">
                                            {{ users_device.device.device_id }}
                                        </span>
                    <h5 class="h3 fw-bold mb-1">{{ users_device.device.name }}</h5>
                    <div class="small mt-2">
                        {% if users_device.device.online %}
                            <span class="fas fa-angle-up text-success"></span>
                            <span class="text-success fw-bold">{{ users_device.device.device_type }}</span>
                            {{ users_device.device.online }}
                        {% else %}
                            <span class="fas fa-angle-down text-warning"></span>
                            <span class="text-warning fw-bold">{{ users_device.device.device_type }}</span>
                            {{ users_device.device.online }}
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}